[mysql]
auto-rehash
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

general_log = 0
general_log_file = /usr/local/var/log/mysql/query.log
